.layout{
    display: flex;
    justify-content: space-between;
}

.photo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1px;
    border: 1px solid red;
}

.btn{
    border: none;
    background-color: transparent;
}