.layout{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap:80px;
    width: 100%;
    margin-left: 150px;
}

.main{
    display: flex;
    width:630px;
    flex-direction: column;
    gap: 30px;
}